In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../pop.csv",index_col=0)

In [9]:
df_quat = df['기간'].unique()

In [10]:
df_quat

array(['2018_3', '2018_4', '2019_1', '2019_2', '2019_3', '2019_4',
       '2020_1', '2020_2', '2020_3', '2020_4', '2021_1', '2021_2'],
      dtype=object)

In [13]:
df_yong = df[df['구별'] == '용산구']

In [17]:
df_yong

         기간   구별      인구      세대  세대당인구    연도
0    2018_3  용산구  245087  108777   2.11  2018
26   2018_4  용산구  245090  108974   2.10  2018
52   2019_1  용산구  245139  109413   2.09  2019
78   2019_2  용산구  245069  109692   2.09  2019
104  2019_3  용산구  244989  109911   2.08  2019
130  2019_4  용산구  245185  110126   2.08  2019
156  2020_1  용산구  246165  110895   2.07  2020
182  2020_2  용산구  245362  111586   2.06  2020
208  2020_3  용산구  244953  112451   2.04  2020
234  2020_4  용산구  244645  113093   2.03  2020
260  2021_1  용산구  243336  112881   2.03  2021
286  2021_2  용산구  240665  111650   2.03  2021

In [34]:
df_yong['인구'].values.tolist()

[245087,
 245090,
 245139,
 245069,
 244989,
 245185,
 246165,
 245362,
 244953,
 244645,
 243336,
 240665]

In [4]:
import pandas as pd
park = pd.read_csv("../park.csv",index_col=0)

In [7]:
park

      기간   구별         면적  1인당면적
0   2018  서울시  168843.30  16.80
1   2018  종로구   11555.80  70.90
2   2018   중구    3132.00  23.10
3   2018  용산구    1795.60   7.30
4   2018  성동구    3102.10   9.80
..   ...  ...        ...    ...
73  2020  관악구   12431.42  24.38
74  2020  서초구   15072.56  35.13
75  2020  강남구    7768.75  14.28
76  2020  송파구    4771.42   7.08
77  2020  강동구    3362.41   7.25

[78 rows x 4 columns]